html,body{


    text-align: center;
   

}


h1 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 100px;
}


dt {
    font-family: 'Sansita Swashed', cursive;
    font-size: 80%;
}

dd,li,p{
    font-family: 'Poiret One', cursive;
    font-size:80%;
    margin-bottom: 5%;
}

#primeira_pagina {

    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
    
}

#img1 {
    border: 7px solid black;
    padding: 12px;
    border-radius: 50%;
    position: relative;
    top: 25%;
    width: 20%;
    height: 30%;
}


#botao {
    position: absolute;
    border: 0px;
    bottom: 0px;
    left: 50%;
    right: 50%;
}



/*********************************************************/
#resto {
   
 
    background-color: aquamarine;
    border:2 solid ;
    position: relative;
}

#seccao {
    background-color: white;
    width: 90%;
    height: 100%;
  
  
 
}

#atalhos {
    background-color: aquamarine;
    
    position: absolute;
    top:0;
    right: 0;
    width: 10%;
    height: 100%;

    padding-bottom: 10px;
}
.atalho{
    display: block;
    top:0;
    position: sticky;
    margin-bottom: 10px;
    

}


.artigo {
    background-color: aquamarine;
    margin: 100px;
    margin-bottom: 20%;
   

    font-size: 30px;
}

.texto_artigo {
    font-size: 90%;

}


