extends layout

block content


  .w3-container.w3-margin
    h1 Autenticação Básica com NodeJs
    p Chegaste à homepage... 
    ul
      li  
        a(href="/users/login") Login 
      li  
        a(href="/users/register") Registo 
      li
        a(href="/protegida") Protegida 

