extends layout

block content
    .w3-container.w3-margin
        h1 Área protegida
        p Passaste a barreira da autenticação... 
        ul
            li  
                a(href="/users/login") Login 
            
            li  
                a(href="/users/logout") Logout
            li  
                a(href="/users/register") Registo 
            li
                a(href="/") HomePage 

